Django==3.2.13
gunicorn==20.1.0
psycopg2-binary==2.9.3
redis==4.1.4
celery==5.2.3
requests==2.27.1
construct==2.10.68
pyOpenSSL==22.0.0
homoglyphs==2.0.4
tld==0.12.6
django-celery-beat==2.2.1
flower==1.0.0